/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Garante que o body não tenha margens e ocupe tudo */
body, html, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}